{% extends "realestate/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  <!--/ Form Search Star /-->
  <section class="intro-single_custom">
  <div class="row">
  <div style=" padding-left: 30%; padding-right: 30%; padding-bottom: 15%;">
    <div class="title-box-d">
      <h3 class="title-d">Login</h3>
    </div>
      <form class="form-a" method="POST">
        {% csrf_token %}
        <div class="col-md-12 mb-2">
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-b">Login</button>
                <small><a class="btn btn-link" href="{% url 'password_reset' %}">Forget Password?</a></small>
            </div>
        <div class="form-group">
          <p>Need an account</p>
          <small><a class="btn btn-link" href="{% url 'user-register' %}">Sign Up</a></small>
      </div>

    </div>
      </form>
    </div>
 </div>
</section>
  <!--/ Form Search End /-->


{% endblock %}
