{% extends "realestate/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  <!--/ Form Search Star /-->
  <section class="intro-single_custom">
  <div class="row">
  <div style=" padding-left: 30%; padding-right: 30%; padding-bottom: 15%;">
    <div class="title-box-d">
      <h3 class="title-d">Reset Password</h3>
    </div>
      <form class="form-a" method="POST">
        {% csrf_token %}
        <div class="col-md-12 mb-2">
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-b">Request Password</button>
            </div>

    </div>
      </form>
    </div>
 </div>
</section>
  <!--/ Form Search End /-->


{% endblock %}
