{% extends "realestate/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  
  <section class="intro-single_custom">
  <div style=" padding-left: 15%; padding-right: 15%; padding-bottom: 15%;">
  <div class="">
    <div class="title-box-d">
      {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
      {% else %}
        <h3 class="title-d">Your Have Select The Following Package</h3>

    </div>


    <div class="row justify-content-between">
        <div class="col-md-5 col-lg-4">
          <div class="property-price d-flex justify-content-center foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="ion-money">$</span>
              </div>
              <div class="card-title-c align-self-center">
                <h5 class="title-c">{{pack.price}}</h5>
              </div>
            </div>
          </div>
          <div class="property-summary">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d section-t4">
                  <h3 class="title-d">Quick Summary</h3>
                </div>
              </div>
            </div>
            <div class="summary-list">
              <ul class="list">
                <li class="d-flex justify-content-between">
                  <strong>Package Type:</strong>
                  <span>{{pack.package_type}}</span>
                </li>

                <li class="d-flex justify-content-between">
                    <strong>Ad Posting Limit:</strong>
                    <span>{{pack.ad_posting_limit}}</span>
                  </li>

              </ul>
            </div>
          </div>
          <div style="padding-left: 18%; padding-top: 8%; padding-bottom: 8%;">
              <form action="{% url 'charge' pack.id %}" method="post">
              {% csrf_token %}
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{ key }}"
                      data-description="A Django Charge"
                      data-amount="{{ price }}" 
                      data-locale="auto"></script>
              
              </form>
          </div>
        </div>
    </div>
    {% endif %}
    </div>
 </div>
</section>


{% endblock %}
